#include <windows.h>

// Executable version information.
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        R_VERSION
PRODUCTVERSION     R_VERSION
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
FILEFLAGS          VS_FF_DEBUG
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "InternalName", "Sharun_Plugin.dll"
      VALUE "OriginalFilename", "Sharun_Plugin.dll"
      VALUE "CompanyName", "The Loli's Company"
      VALUE "FileDescription", "Plugin: Sharun Dream's"
      VALUE "LegalCopyright", "©2016 The Loli's Company"
      VALUE "ProductName", "Sharun_Plugin.dll"
      VALUE "FileVersion", L_VERSION
      VALUE "ProductVersion", L_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END
